{% extends 'index.html' %}
{% load static %}
 {% block titulo %}
   listado de Tipos
 {% endblock titulo %}
 {% block body %}

 <div>

    <button class="btn btn-primary" type="button" onclick="abrir_modal_creacion('{% url 'seguimiento:crear_tipo' %}')">Crear Tipo</button>
</div>
 
   {% if tipos %}


   <div class="card">
    <div class="card-header">
        <strong class="card-title">Listado de Tipos</strong>
    </div>
   <div class="table-stats order-table ov-h">
   <table class="table"> 
        <thead>
            <tr>
                <th>#</th>
                <th>Tipo</th>
                <th>Opciones</th>

            </tr>
        </thead>

        <tbody>
            {% for tipos in tipos %}
            <tr>
                <td>{{ tipos.id }}</td>
                <td>{{ tipos.tipo }}</td>
                <td>
                    <button onclick="abrir_modal_edicion('{% url 'seguimiento:editar_tipo' tipos.id %}')" class="btn btn-primary" >Editar</button>
                
                    <a class="btn btn-danger"  href="{% url 'seguimiento:eliminar_tipo' tipos.id %}" class="btn btn-danger" >eliminar</a>
                </td>
            </tr>
            {%  endfor %}

        </tbody>


   </table>

</div>
</div>

   {% else %}
        <h1>No existe Tipos</h1>
   {% endif%}

   <div class="modal fade" id="creacion" role="dialog">
</div>
<div class="modal fade" id="edicion" role="dialog">
 </div>

{% block extrajs %}
<script type="text/javascript"> 
 var $ = jQuery.noConflict();
 function abrir_modal_edicion(url){
     $('#edicion').load(url, function(){
         $(this).modal('show');
     });
 }

 function abrir_modal_creacion(url){
     $('#creacion').load(url,function(){
         $(this).modal('show');
     });
 }
</script>
{% endblock extrajs %}


 
   {% endblock body %}
 